<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<header>
<!-- page header -->
<nav>
<style>
  .nav-list, .nav-list ul {
      list-style-type: none;
      padding: 0 0 0 1rem;
      width: max-content;
  }
  .nav-item {
      padding: 0.2rem 0 0 0;
  }
  .nav-anchor {
      display: block;
      text-decoration: none;
  }
  .nav-anchor:hover {
      background-color: #555;
      color: white;
  }  
  .nav-anchor-active {
      font-weight: bold;
  }
</style>
<!-- navigation -->
{{ collections.all
   | eleventyNavigation
   | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key,
                                listClass: "nav-list",
                                anchorClass: "nav-anchor",
                                activeAnchorClass: "nav-anchor-active",
                                listItemClass: "nav-item",
                                activeListItemClass: "nav-item-active"})
   | safe }}
</nav>

{% set crumbs = collections.all
   | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
<div class="crumbs">
{% for crumb in crumbs -%}
  <a class="crumb" href="{{ crumb.url | url }}">{{ crumb.title }}</a> /
{% endfor %}
<span class="last-crumb">{{ eleventyNavigation.title | default(eleventyNavigation.key) }}</span>

{{ headercontent }}
</header>

<hr>
