<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<div class=main-grid>
<header>
<!-- page header -->
{{ headercontent }}
</header>
<div class=left-column>
<nav>
<!-- navigation -->
{{ collections.all
   | eleventyNavigation
   | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key,
                                listClass: "nav-list",
                                anchorClass: "nav-anchor",
                                activeAnchorClass: "nav-anchor-active",
                                listItemClass: "nav-item",
                                activeListItemClass: "nav-item-active"})
   | safe }}
</nav>
</div>
<div class=right-column>
</div>
